<section class="about-us-section spad">
    <div class="container">
        <div class="section-title">
            <span>About Our Company</span>
            <h2>Who We Are</h2>
        </div>
        <div class="about-us-content">
            <div class="row">
                <div class="col-md-6">
                    <img src="img/about-us.jpg" alt="About Us Image" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h3>Our Story</h3>
                    <p>gym_app was born out of a simple yet powerful idea: fitness should be personal, accessible, and inspiring.

                        Our journey began when our founder, subash vinitha, realized how challenging it was to find a workout plan that truly aligned with individual goals, lifestyles, and fitness levels. Generic workout plans and one-size-fits-all approaches often led to frustration and burnout, rather than progress and empowerment. Inspired to make a change, we set out to create a platform that redefines fitness — one that revolves around you.
                        
                        From day one, our mission has been to build a community that celebrates every individual's unique path to wellness. Backed by expert trainers, cutting-edge technology, and a passion for making fitness enjoyable, we launched gym_app.</p>
                    <h3>Our Mission</h3>
                    <p>To empower individuals to lead healthier, happier lives by making fitness accessible, personalized, and achievable for everyone.</p>
                </div>
            </div>
        </div>
    </div>
</section>
