<!-- Footer Section Begin -->
<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="fs-about">
                    <div class="fa-logo">
                        <a href="/"><img src="img/logo.png" alt="Logo"></a> 
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                    <div class="fa-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="fs-links">
                    <h5>Useful Links</h5>
                    <ul>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/terms">Terms & Conditions</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="fs-links">
                    <h5>Tips & Guides</h5>
                    <ul>
                        <li><a href="/fitness-tips">Fitness Tips</a></li>
                        <li><a href="/nutrition-guides">Nutrition Guides</a></li>
                        <li><a href="/exercise-plans">Exercise Plans</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="fs-newsletter">
                    <h5>Newsletter</h5>
                    <p>Sign up to receive our updates and offers!</p>
                    <form action="#">
                        <input type="email" placeholder="Your email">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Section End -->
